 #speakers .modal .left-align {
    float: left;
    margin-right: 11px
}

 #speakers .modal p {
    font-size: 14px;
    line-height: 24px;
}
 #speakers .thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border .2s ease-in-out;
  }
 #speakers .modal .left-align {
    float: left;
    margin-right: 20px;
}
 #speakers .modal img{
  width:100%;
  max-width: 300px;
}
#producer-modals img{
  width:49%;
}
#producer-modals h2{
  color:#034d93;
  font-size:1.3rem;
  text-transform:uppercase;
}
#producer-modals .modal-person-creds{
  margin-bottom: 32px;
  margin-top: 8px;
}
#producer-modals .superlatives{
  margin-bottom:32px;
}
#producer-modals .container{
  margin-top:32px;
  padding-right: 30px;
  padding-left:30px;
}
.modal-bio-text p{
  margin-bottom: 8px;
}
#producer-modals .thumbnail{
  margin-top: 16px;
}
