@charset "utf-8";
@media (min-width:1300px){
.container{width:1270px;max-width:100%;}
}
@media (max-width:1400px){
.banner-title span{font-size:64px;}
.banner-title strong{font-size:95px;margin:-43px 0 0 160px;}
.banner-title span em:after{height:180px; right: -1px;}
.banner-title span em:before{height:100px; top: 130px;}
.banner-caption p{margin:-21px 270px 37px;font-size:28px;}
.banner-caption span{font-size:18px;}
.banner-caption span:first-child:after{margin:0 15px -2px;}
.banner-caption:after{width:120px;bottom:120px;}
.banner-caption:before{width:120px;height:120px;}
.popup{width:520px;padding:50px 30px 30px;}
.speakers-sec ul{padding:15px 15px 0;}
.tab-main{padding:0 50px;}
.tab-links{width:190px!important;height:190px;font-size:22px;}
}
@media (max-width:1200px){
.nav li{margin:0 0 0 5px;}
.nav li a{padding:2px 5px;}
    .nav li a:after {left: 5px; right: 5px;}
.nav li{font-size:13px;}
.nav{padding:0 31px 0 10px;}
.home-content h3{font-size:80px; margin: 0 0 0 -6px;}
.popup{width:400px;}
.speakers-details{font-size:18px;}
.action-sec h3,.location-sec h3{font-size:76px;}
}
@media (max-width:1024px){
    .speakers-hover {position: relative; opacity: 1;}
}
@media (max-width:991px){
header{padding:22px 0 50px 0;}
header.stickyHeader{padding:22px 0 50px 0;}
header .logo{max-width:300px;}
.header-main{flex-flow:column;}
.logo{margin-bottom:25px;width:400px;}
    .banner-title {position: static;}
    .banner-title span em {position: static;}
.banner-title span em:after{width:150px;height:150px; right: auto; left: 0; z-index: 1;}
.banner-title span em:before{width:80px;height:80px;top:110px; right: auto; left: 0;}
.banner-caption:after{width:80px;bottom:80px;height:220px;}
.banner-caption:before{width:80px;height:80px;}
.banner-title strong{margin:0;text-align:center;}
.banner-title span{margin:0;text-align:center;}
.banner-title span{font-size:34px;}
.banner-title strong{font-size:50px;}
.banner-title strong em{margin:14px 0 0 0;}
.banner-caption p{font-size:20px;margin:0 0 20px 0;}
.banner-caption .btn{margin:0 auto 25px;}
.banner{padding:0 170px 12px;}
.home-content h3{font-size:60px; margin: 0 0 0 -4px;}
.home-content p{font-size:18px;}
.sec-title h4{font-size:50px;margin:0;}
.sec-title img{transform:scale(0.7);-webkit-transform:scale(0.7);}
.schedule-bg{margin-top:15px;}
.popup{position:relative;display:none;left:0;width:100%;transform:none;-webkit-transform:none;top:0;border:0;min-height:inherit;padding:30px;}
.popup:after{display:none;}
.popup.show{display:block;left:0;}
.schedule-bg li{display:block;padding:0;min-height:inherit;}
.schedule-bg li:hover, .schedule-bg li.active{left:0;}
.popup img{width:140px;margin-bottom:30px;}
.schedule-bg li em{opacity:1;background:none;border:0;height:54px;top:50%;bottom:auto;margin-top:-27px;right:0;}
.schedule-bg li em:after{content:'';width:15px;height:15px;border-bottom:2px solid;border-left:2px solid;border-color:#88b939;display:inline-block;transform:rotate(-45deg);margin:16px 0 0 18px;transition:border-color 0.5s ease-in-out 0s;-webkit-transition:border-color 0.5s ease-in-out 0s;}
.schedule-bg li:hover em:after,.schedule-bg li.active em:after{border-color:#fff;}
    .schedule-bg li.active figure {border-bottom: 1px solid #88b939;}
.schedule-bg li.active em:after{transform:rotate(135deg);-webkit-transform:rotate(135deg);margin:22px 0 0 18px;}
.schedule-bg li figure{padding:10px 54px 10px 15px;}
.speakers-sec ul li{width:33%;}
.supporters-box{display:block;}
.tab-links{width:140px;height:140px;font-size:18px;}
.tab-links:nth-child(2){margin-top:80px;}
.tab-links:nth-child(3){margin-top:0;}
.tab-links:nth-child(4){margin-top:65px;}
.tab-imgs{padding:40px 0 0 0;}
.tab-imgs figure p{font-size:23px;}
.tab-imgs figure a{padding:10px;}
.location-sec h3{margin:0 0 109px 0;}
.location-sec{padding-top:75px;}
.location-sec h3{font-size:66px;margin-bottom:30px;}
.location-box{position:relative;margin:0px auto 20px;}
.map iframe{width:100%;}
.map{padding-bottom:50%;}
.footer-right a{font-size:18px; line-height: 1.4;}
.footer-right ul{margin:0 0 0 40px;}
.sm a{margin:0 5px;}
    .speakers-details {font-size: 16px;}
    .speakers-hover {padding: 15px;}
    .popup .pop-close {display: none;}
    .schedule-bg li.active:hover em {opacity: 1;}
}
@media (max-width:767px){
header,header.stickyHeader{padding:25px 0;}
.header-main{flex-flow:row;}
.logo{margin:0; max-width: 300px;}
header.stickyHeader .logo {max-width: 300px;}
.header-main {position: static;}
.nav{display:none; position: absolute; top: 100%; background: #034d93; left: 0; width: 100%; padding: 0; overflow: auto;}
.nav ul {flex-flow: column; padding: 0; }
.nav li {width: 100%; border-bottom: 1px solid #000; margin: 0;}
.nav:after {display: none;}
.nav li a {background: none; padding: 15px; display: block; text-align: center;}
.nav li a:hover {background: #de6d1e; color: #fff;}
.nav li a:after {display: none;}
.menu-box{display:block;}
.first-fold{padding-top:110px;}
.home-content li{margin:0 0 30px 0;}
.home-content{padding:40px 0 0 0;}
.home-content ul{padding:0 0 20px;}
.home-content li span{margin-bottom:4px;}
.speakers-sec ul li{width:50%; display: -webkit-flex; display: flex;}
    .speakers-sec li a {display: -webkit-flex; display: flex;}
    .speakers-hover {width: 100%; justify-content: flex-start;}
.action-sec h3,.location-sec h3{font-size:46px;}
.actionImg-cont:first-child,.actionImg-cont:last-child{padding:0;}
    .actionImg-cont:first-child {margin-bottom: 30px;}
.action-sec{padding-top:50px;}
.speakers-sec{padding-top:50px;}
.sec-title{padding:0 15px;}
.supporter-sec{padding-top:50px;}
.supporters-box a{margin-bottom:20px;}
.supporters-box{min-height:392px;}
.supporters-box{margin-bottom:30px;}
.tab-links{background:#88b939 !important;width:100%!important;transform:none !important;-webkit-transform:none !important;margin:0 0 1px !important;height:auto;padding:10px 0;}
.tab-links:nth-child(1){position: relative; left: 0px;}
.tab-links.active{background:#de6d1e !important;}
.tab-main ul{flex-flow:column;}
.tab-imgs figure{width:calc(50% - 10px);padding-bottom:50%;margin:0 0 15px;}
.tab-imgs{justify-content:space-between;}
.about-main{padding:30px 0;}
.about-main h3{font-size:24px;}
.about-main p{font-size:18px;}
.about-cont .btn{margin-top:30px;}
.location-sec,.about-sec{padding-top:50px;}
.footer-right ul{width:50%; margin: 0 0 0 22px;}
.footer-left{margin-bottom:40px;}
footer{padding-bottom:40px;}
.btn{padding:14px 38px 13px;}
    .schedule-sec {padding-top: 50px;}
    .footer-right {margin: 0;}
    .nav li:last-child a:before {display: none;}
}
@media (max-width:640px){
.banner-title span em:after{width:100px;height:100px;}
.banner-title span em:before{width:50px;height:50px;top:80px;}
.banner-caption:after{width:50px;bottom:50px;height:110px;}
.banner-caption:before{width:50px;height:50px;}
.banner{padding:70px 70px 30px;}
.home-content h3{font-size:40px; margin: 0 0 0 -3px;}
.home-content p{font-size:18px;}
.sec-title h4{font-size:40px;}
.speakers-hover{padding:15px;}
.action-sec h3{font-size:30px;text-align:center;display:block;opacity:0.8;margin-bottom:20px;}
.action-sec h3 span{margin:0;text-align:center;}
.tab-imgs figure{width:100%;padding-bottom:100%;}
.producers-sec{padding-top:40px;}
.tab-main{padding:0 15px;}
.location-sec h3{font-size:30px;text-align:center;display:block;opacity:0.8;}
.location-sec h3 span{margin:0;text-align:center;}
.map{padding-bottom:80%;}
.location-box{padding:33px 15px 0;}
}
@media (max-width:480px){
.logo a:first-child{margin-right:15px;}
.banner-title span{}
.banner-title span em:after{display:none;}
.banner-title span em:before{display:none;}
.banner-caption:after{display:none;}
.banner-caption:before{display:none;}
.banner{padding:0 15px 15px; min-height: inherit;}
.banner-title span{font-size:25px;}
.banner-title strong{font-size:34px;}
.banner-title strong em{margin:8px 0 0 0;}
.banner-caption span{font-size:16px;}
.banner-caption span:first-child:after{width:15px;height:15px;}
.first-fold{padding-top:24%;}
.popup{padding:15px;}
.popup img{margin-bottom:15px;}
.schedule-bg li figure{flex-flow:column;align-items:flex-start;justify-content:center;}
.speakers-sec ul li{width:100%;padding:0 0 15px;}
.footer-right ul{width:100%;margin-bottom:20px;margin:0;padding:0 0 20px 22px;}
.footer-right{flex-flow:column;}
    footer {padding-bottom: 0;}
    .footer-left {margin-bottom: 20px;}
}