@charset "utf-8";
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td ,select,input,option,textarea{margin:0;padding:0;border:0;outline:0;font-size:100%;box-sizing:border-box;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em;}
sub{bottom:-0.25em}
nav ul,nav ol{list-style:none;list-style-image:none;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0;}
button,html input[type="button"],input[type="reset"],input[type="submit"],textarea{-webkit-appearance:none;border-radius:0}
:focus{outline:0;}
ol, ul{}
table{border-collapse:separate;border-spacing:0;}
caption, th, td{text-align:left;font-weight:normal;}
a{text-decoration:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:"";}
blockquote, q{quotes:"" "";}
table{border:0 none;border-collapse:collapse;border-spacing:0;}
td{vertical-align:top;}
img{border:0 none;max-width:100%;}
a{outline:none;cursor:pointer;}
.none{display:none;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{display:block}
.clear{clear:both;}
img{max-width:100%;}
.cf:before, .cf:after{content:"";display:table}
.cf:after{clear:both;}
a,button,.btn{outline:none !important;transition:all 0.5s ease-in-out 0s;-moz-transition:all 0.5s ease-in-out 0s;-ms-transition:all 0.5s ease-in-out 0s;-o-transition:all 0.5s ease-in-out 0s;-webkit-transition:all 0.5s ease-in-out 0s;text-decoration:none !important;}
body{font-size:14px;-webkit-font-smoothing:antialiased;font-family:'Quicksand', sans-serif;}
.main{max-width:942px;margin:0 auto}
header {
  background: #000;
  padding: 62px 0 5px 0;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
}

header.stickyHeader {
  padding: 35px 0 38px 0;
}

.header-main {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: -webkit-flex;
  display: flex;
}

.logo a:first-child {
  margin: 0 21px 0 0;
}

.nav {
  padding: 0 31px 0 0;
  position: relative;
}

.nav ul {
  display: -webkit-flex;
  display: flex;
  position: relative;
  z-index: 1;
}

.nav li {
  list-style: none;
  margin: 0 0 0 12px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
}

.nav li a {
  color: #fff;
  letter-spacing: 0.08em;
  padding: 2px 10px;
  background: #000;
  position: relative;
}

.nav li a:after {
  content: '';
  height: 1px;
  left: 10px;
  right: 10px;
  background: #21a8a2;
  position: absolute;
  bottom: 3px;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  opacity: 0;
}

.nav li a:hover,
.nav li.active a {
  color: #21a8a2;
  text-transform: uppercase;
}

.nav li a:hover:after,
.nav li.active a:after {
  opacity: 1;
}

.nav li:last-child a:before {
  content: '';
  position: absolute;
  width: 89px;
  height: 88px;
  z-index: -1;
  background-size: 100%;
  right: -31px;
  background: url(../images/ticket.png) no-repeat;
  top: 50%;
  margin: -40px 0 0 0;
}

.menu-box {
  width: 28px;
  min-width: 28px;
  padding: 0 0;
  left: 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 23px;
  cursor: pointer;
  z-index: 11;
  display: none;
}

.menu-box span {
  width: 100%;
  height: 2px;
  margin-bottom: 6px;
  background: #fff;
  display: block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.menu-box span:nth-child(3) {
  margin-bottom: 0;
}

.menu-box.active span:nth-child(1) {
  transform: rotate(45deg) translateY(3px) translateX(8px);
  -webkit-transform: rotate(45deg) translateY(3px) translateX(8px);
}

.menu-box.active span:nth-child(2) {
  opacity: 0;
}

.menu-box.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-4px) translateX(8px);
  -webkit-transform: rotate(-45deg) translateY(-4px) translateX(8px);
}

.menu-box.active span {
  background: #fff;
}

.first-fold {
  padding-top: 200px;
  background: #000;
}

.banner {
  background: #000;
  min-height: 400px;
  position: relative;
  padding: 0 0 12px 0;
}

.banner-title span em:after {
  content: '';
  position: absolute;
  top: -7px;
  right: -4px;
  width: 50vw;
  height: 300px;
  background: #034d93;
  z-index: -1;
}

.banner-title span em:before {
  content: '';
  position: absolute;
  top: 230px;
  right: 148px;
  width: 20.8vw;
  height: 150px;
  background: #de6d1e;
  z-index: 2;
}

.banner-title {
  position: relative;
  z-index: 1;
  display: table;
  margin: 0px auto;
}

.banner-title span {
  font-size: 104px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  letter-spacing: -0.02em;
  margin: -6px 0 0 0;
}

.banner-title span em {
  font-style: normal;
  color: #88b939;
  position: relative;
  z-index: 2;
}

.banner-title strong {
  color: #88b939;
  font-size: 155px;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  margin: -73px 0 0 215px;
  letter-spacing: -0.02em;
}

.banner-title strong em {
  font-style: normal;
  transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  display: inline-block;
  vertical-align: top;
  margin: 44px 0 0 0;
}

.banner-caption {
  text-align: center;
}

.banner-caption:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 140px;
  height: 140px;
  background: #88b939;
}

.banner-caption:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 140px;
  width: 140px;
  height: 302px;
  background: #21a8a2;
}

.banner-caption p {
  color: #fff;
  font-size: 34px;
  margin: -21px 0 37px 0;
}

.banner-caption span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}

.banner-caption .btn {
  margin: 0 auto 45px;
}

.btn {
  font-size: 19px;
  background: #de6d1e;
  color: #fff;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  padding: 24px 68px 23px;
  margin: 0px auto;
  display: table;
}

.btn:hover {
  background: #88b939;
  color: #fff;
}

.banner-caption span:first-child:after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #0687c6;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 0 15px;
}

.banner-img img {
  width: 100%;
}

.home-content {
  padding: 75px 0 0 0;
}

.home-content h3 {
  color: #034d93;
  font-size: 91px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 0 -8px;
}

.home-content ul {
  padding: 20px 0 0 0;
}

.home-content li {
  list-style: none;
  margin: 0 0 80px 0;
}

.home-content li span {
  color: #034d93;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin: 1px 0 14px 0;
}

.home-content li p {
  font-size: 15px;
  color: #000;
  line-height: 1.2;
}

.home-content li:nth-child(2) h3 {
  color: #21a8a2;
}

.home-content li:nth-child(2) span {
  color: #21a8a2;
}

.home-content li:nth-child(3) h3 {
  color: #0799dd;
}

.home-content li:nth-child(3) span {
  color: #0799dd;
}

.home-content p {
  font-family: 'Oxygen', sans-serif;
  font-size: 22px;
  color: #000;
  line-height: 1.4;
  margin-bottom: 27px;
}

.sec-title {
  text-align: center;
}

.sec-title h4 {
  font-size: 62px;
  color: #034d93;
  font-weight: 300;
  text-transform: uppercase;
  margin: 7px 0 0 0;
}

.sec-title p {
  color: #034d93;
  font-size: 28px;
  margin: 12px 0 0 0;
}

.schedule-sec {
  padding-top: 92px;
}

.schedule-bg {
  background: url(../images/schedule-bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 47px 0 64px;
  margin: 16px 0 0 0;
}

.schedule-bg ul {}

.schedule-bg li {
  border: 1px solid #88b939;
  position: relative;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  background: #fff;
  left: 0;
  list-style: none;
  border-top: 0;
  min-height: 108px;
  display: -webkit-flex;
  display: flex;
}

.schedule-bg li:first-child {
  border-top: 1px solid #88b939;
}

.schedule-bg li figure {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 0 70px 0 27px;
  min-height: 108px;
  margin: 0;
}

.schedule-bg li span {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 27px 0 0;
  white-space: nowrap;
  color: #000;
}

.schedule-bg li strong {
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  display: block;
}

.schedule-bg li p {
  font-family: 'Oxygen', sans-serif;
  line-height: 1.3;
  color: #000;
}

.schedule-bg li:hover,
.schedule-bg li.active {
  background: #88b939;
  left: 35px;
}

.schedule-bg li em {
  width: 54px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../images/arrow.png) no-repeat center center #88b939;
  opacity: 0;
  border-left: 1px solid #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
}

.schedule-bg li:hover em {
  opacity: 1;
}
.schedule-bg li.active:hover em {
  opacity: 0;
}

.schedule-sec .btn {
  margin: 30px auto 0;
  display: table;
}

.popup {
  position: absolute;
  left: 0;
  top: 50%;
  width: 570px;
  background: #fff;
  text-align: center;
  border-left: 59px solid #88b939;
  padding: 50px 50px 30px;
  /*min-height: 570px;*/
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  visibility: hidden;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  opacity: 0;
}

.popup:after {
  content: '';
  top: 0;
  bottom: 0;
  width: 59px;
  background: url(../images/arrow.png) no-repeat center #88b939;
  left: -59px;
  position: absolute;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.popup .pop-close {
  position: absolute; top: -2px; right: 15px;
  line-height: 1;
  font-size: 40px;
  font-weight: normal;
  color: #000;
  opacity: 1;
}
.popup .pop-close:hover {
  color: #88b939;
}
/*.popup .pop-close:after {content: ''; width: 100%; height: 2px; background: #000; display: block; transform: rotate(-45deg); -webkit- transform: rotate(-45deg); margin: -2px 0 0 0;}
.popup .pop-close:before {content: ''; width: 100%; height: 2px; background: #000; display: block;  transform: rotate(45deg); -webkit- transform: rotate(-45deg); margin: 9px 0 0 0;}*/
.popup p {
  font-size: 15px;
  line-height: 1.4;
}

.popup img {
  margin: 0 0 42px 0;
}

.popup.show {
  left: 100%;
  visibility: visible;
  opacity: 1;
}

.speakers-sec {
  padding: 132px 0 0 0;
}

.speakers-sec ul {
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 15px 68px 0;
}

.speakers-sec ul li {
  width: 25%;
  list-style: none;
  padding: 0 15px 30px;
}

.speakers-sec li a {
  display: block;
  width: 100%;
  padding: 100% 0 0 0;
  background-size: cover;
  position: relative;
  background-position: center;
}

.speakers-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(3, 68, 129, 0.45);
  opacity: 1;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 41px 30px 25px 30px;
  opacity: 0;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
}

.speakers-hover p {
  color: #fff;
  font-size: 19px;
}

.speakers-details {
  font-size: 22px;
  color: #fff;
}

.speakers-details u {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.speakers-sec .btn {
  margin: 21px auto 0;
}

.speakers-sec li a:hover .speakers-hover {
  opacity: 1;
}

.action-sec {
  padding: 130px 0 0 0;
}

.action-sec img {
  width: 100%;
}

.action-sec h3 {
  font-size: 106px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 0 42px 0;
  color: #88b939;
  opacity: 0.42;
}

.action-sec h3 span {
  display: block;
  text-align: right;
  margin: 0 -94px 0 0;
}

.actionImg-cont:first-child {
  padding-left: 0;
}

.actionImg-cont:last-child {
  padding-right: 0;
}

.action-sec {}

.supporter-sec {
  padding: 126px 0 0;
}

.supporters-box {
  width: 920px;
  margin: 20px auto 68px;
  min-height: 552px;
  border: 5px dotted #ffde71;
  text-align: center;
  padding: 23px 0;
  max-width: 100%;
}

.supporters-box h5 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: normal;
  color: #034d93;
  margin: 0 0 48px 0;
}

.supporters-box a {
  display: inline-block;
  vertical-align: top;
  margin: 0 40px 62px;
}

.register-sec {
  background: url(../images/cta-bg.jpg) no-repeat center;
  background-size: cover;
  padding: 116px 0 179px 0;
}

.producers-sec {
  padding: 101px 0 0 0;
}

.tab-main ul {
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 41px 0 0 0;
}

.tab-links {
  background: url(../images/note1.png) no-repeat;
  background-size: cover;
  width: 243px;
  justify-content: center;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  height: 228px;
  font-size: 31px;
  color: #000;
  text-transform: uppercase;
  margin: 0 -10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
}

.tab-links:nth-child(1) {
  transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  background: url(../images/note1.png) no-repeat;
  z-index: 2;
  background-size: contain;
  margin-top: 40px;
  position: relative;
  left: 20px;
}

.tab-links:nth-child(2) {
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  background: url(../images/note2.png) no-repeat;
  margin-top: 110px;
  z-index: 3;
  background-size:contain;
}

.tab-links:nth-child(3) {
  width:215px;
  background: url(../images/note3.png) no-repeat;
  margin-top: 28px;
  z-index: 2;
  background-size:contain;
}

.tab-links:nth-child(4) {
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  background: url(../images/note4.png) no-repeat;
  margin-top: 85px;
  z-index: 1;
  margin-left: 0;
  margin-right: 0;
  background-size:contain;
}

.tab-links:nth-child(5) {
  transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  background: url(../images/note5.png) no-repeat;
  margin-top: 40px;
  background-size:contain;
}

.tab-links:hover,
.tab-links.active {
  color: #fff;
}

.tab-content {}

.tab-imgs {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  padding: 130px 30px 0;
  flex-flow: wrap;
}

.tab-imgs figure {
  width: 273px;
  padding-bottom: 273px;
  margin: 0 15px 40px;
  background-color: #034d93;
  position: relative;
  background-size: cover;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-imgs figure a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}

.tab-imgs figure p {
  color: #fff;
  font-size: 29px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 15px;
  transition:all 0.5s ease-in-out 0s; -webkit-transition:all 0.5s ease-in-out 0s;
}

.tab-imgs figure span {
  display: block;
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  transition:all 0.5s ease-in-out 0s; -webkit-transition:all 0.5s ease-in-out 0s;
}

.tab-imgs figure a:hover p, 
.tab-imgs figure a:hover span {
	color: #88b939;
}

.about-sec {
  padding: 131px 0 0 0;
}

.about-main {
  background: url(../images/about-bg.jpg) no-repeat center;
  background-size: cover;
  padding: 93px 0 59px 0;
  color: #fff;
  margin: 16px 0 0 0;
}

.about-main h3 {
  font-size: 34px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

.about-main p {
  font-size: 22px;
  font-weight: normal;
  line-height: 29px;
  margin: 0 0 29px 0;
  font-family: 'Oxygen', sans-serif;
}

.about-cont {
  width: 705px;
  max-width: 100%;
  margin: 0px auto;
}

.about-cont .btn {
  margin: 94px auto 0;
}

.location-sec {
  padding: 105px 0 0 0;
}

.location-sec h3 {
  font-size: 106px;
  font-weight: 300;
  text-transform: uppercase;
  display: block;
  margin: 0 0 49px 0;
  color: #0799dd;
  opacity: 0.23;
  text-align: right;
}

.location-sec h3 span {
  display: block;
  text-align: right;
  margin: 0 94px 0 0;
}

.location-main {
  position: relative;
  border-bottom: 13px solid #034d93;
}

.map {
  padding-bottom: 529px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.map iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 115%;
  height: 100%;
}

.location-box {
  background: #034d93;
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 488px;
  color: #fff;
  padding: 33px 35px 0;
  min-height: 627px;
}

.location-box h4 {
  font-size: 41px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}

.location-box h5 {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 1px 0;
}

.location-box span {
  font-size: 16px;
  margin: 0 0 26px 0;
  line-height: 22px;
  display: block;
  text-transform: uppercase;
}

.location-box p {
  font-size: 16px;
  margin: 0 0 22px 0;
  line-height: 1.2;
  font-family: 'Oxygen', sans-serif;
}

.location-box p a {
  color: #de6d1e;
}

.location-box p a:hover {
  color: #fff;
}

.location-box img {
  width: 100%;
  margin: 0 0 17px 0;
}

footer {
  padding: 54px 0 88px 0;
}

.footer-left h3 {
  font-weight: normal;
  font-size: 31px;
  line-height: 34px;
  color: #121212;
  font-family: 'Pathway Gothic One', sans-serif;
  margin: 0 0 17px 0;
}

.footer-left p {
  font-size: 15px;
  color: #343434;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  font-weight: 500;
  margin: 0 0 14px 0;
}

.address p {
  font-weight: 700;
  color: #343434;
}

.address p a {
  color: #343434;
}

.address p a:hover {
  color: #88b939;
}

.sm {
  border-bottom: dotted 2px #0087c6;
  border-top: dotted 2px #0087c6;
  padding: 16px 0 14px 0;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.sm a {
  margin: 0 12px;
}

.sm a:hover {
  opacity: 0.6;
}

.footer-right {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  margin: 50px 0 0 0;
}

.footer-right ul {
  width: 160px;
  margin: 0 0 0 60px;
}

.footer-right li {
  color: #0087c6;
  font-size: 21px;
  text-transform: uppercase;
  margin: 0 0 -1px 0;
}

.footer-right a {
  font-size: 21px;
  line-height: 30px;
  color: #222;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #0087c6;
}
.footer-right a:hover {
  color: #222;
}
